# Python bytecode
__pycache__/
*.pyc

# Django runserver logs and PID
server.log
server.pid

# SQLite backups
db.sqlite3.backup*

# Ignore the active SQLite DB and scripts that shouldn't be tracked
db.sqlite3
scripts/

# VSCode
.vscode/
