* {
    margin: 1px;
    padding: 3px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    background-image: url("../multimedia/background.jpg");
    background-size: cover;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,footer {
    background-color: darkgrey;
}

nav {
    background-color: black;
    height: auto;
}

.align__center {
    text-align: center;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2.5;
}

table {
    background-color: aliceblue;
    width: 80%;
}

td, th {
    font-size: 1.5rem;
}

.font__white {
    color: aliceblue;
}

.nav__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

ul > li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

/* Google Fonts */
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}
