{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static './multimedia/logo_BC13.ico' %}">
    <title>Biblioteca Comunal 13 :: Empleados</title>
</head>
<body>
  <header>
    <img src="{% static './multimedia/logo_BC13.png' %}" width="150">
  </header>
  <nav class="nav__flex font__white">
    <ul class="bona-nova-sc-regular">
      <li><a href="{% url 'lista_usuarios' %}">Usuarios</a></li>
      <li><a href="{% url 'lista_libros' %}">Libros</a></li>
      <li><a href="{% url 'lista_autores' %}">Autores</a></li>
      <li><a href="{% url 'lista_categorias' %}">Categorías</a></li>
      <li><a href="{% url 'lista_editoriales' %}">Editoriales</a></li>
      <li><a href="{% url 'lista_empleados' %}">Empleados</a></li>
      <li><a href="{% url 'lista_prestamos' %}">Préstamos</a></li>
    </ul>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
  </nav>
  <main>
    <h1 class="bona-nova-sc-bold font__white">Empleados</h1>
    <table border="1" class="bona-nova-sc-regular">
  <thead>
    <tr>
      <th><strong>Empleado</strong></th>
      <th><strong>DNI</strong></th>
      <th><strong>Password</strong></th>
      <th><strong>Teléfono</strong></th>
      <th><strong>Cargo</strong></th>
      <th><strong>Fecha Contrato</strong></th>
      <th><strong>Creado</strong></th>
      <th><strong>Actualizado</strong></th>
    </tr>
  </thead>
  <tbody>
    {%for empleado in empleados%}
    <tr>
      <td>{{empleado.nombre_empleado}}</td>
      <td>{{empleado.dni}}</td>
      <td>{{empleado.password}}</td>
      <td>{{empleado.telefono}}</td>
      <td>{{empleado.cargo}}</td>
      <td>{{empleado.fecha_contratacion}}</td>
      <td>{{empleado.created_at}}</td>
      <td>{{empleado.updated_at}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </main>
  <footer>
    <p class="bona-nova-sc-regular align__center">©Copyright Biblioteca Comunal 13.Todos los derechos reservados</p>
  </footer>
</body>
</html>