{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Biblioteca Comunal 13 :: Stock de Libros</title>
</head>
<body>
  <header>
    <img src="{% static './multimedia/logo_BC13.png' %}" width="150">
  </header>
  <nav>

  </nav>
  <main>
    <h1 class="bona-nova-sc-bold font__white">Stock de libros</h1>
    <table border="1">
  <thead>
    <tr>
      <th><strong>Título</strong></th>
      <th><strong>Autor</strong></th>
      <th><strong>Editorial</strong></th>
      <th><strong>Categoría</strong></th>
      <th><strong>Fecha de publicación</strong></th>
      <th><strong>Cantidad</strong></th>
      <th><strong>Creado</strong></th>
      <th><strong>Actualizado</strong></th>
    </tr>
  </thead>
  <tbody>
    {%for libro in libros%}
    <tr>
      <td>{{libro.titulo_libro}}</td>
      <td>{{libro.nombre_autor}}</td>
      <td>{{libro.nombre_editorial}}</td>
      <td>{{libro.nombre_categoria}}</td>
      <td>{{libro.fecha_publicacion}}</td>
      <td>{{libro.cantidad}}</td>
      <td>{{libro.creado}}</td>
      <td>{{libro.actualizado}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </main>
  <footer>
    <p class="align__center">©Copyright Biblioteca Comunal 13.Todos los derechos reservados</p>
  </footer>
</body>
</html>