{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Comunal 13 :: Registro de empleados</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container bona-nova-sc-bold">
      <img src="{% static 'multimedia/logo_BC13.png' %}" alt="Logo Biblioteca Comunal 13" width="150" class="image__center">
        <h2>Registro de empleado</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <label>DNI:</label><input type="text" name="dni" required><br>
        <label>Nombre:</label><input type="text" name="nombre" required><br>
        <label>Apellido:</label><input type="text" name="apellido" required><br>
        <label>E-mail:</label><input type="email" name="email" required><br>
        <label>Contraseña:</label><input type="password" name="password" required><br>
        <button type="submit">Registrar</button>
    </form>
    <a href="{% url 'index' %}">Volver al login</a>
    </div>
</div>

    </div>
</body>
</html>